<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.css">
<link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/menu.css">
<script src="../static/semantic/dist/semantic.js"></script>
<style>
    .ui.container {
        overflow: auto;
        white-space: nowrap;
    }
    .ui.card {
        display: inline-block;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Summa</title>
</head>
<body>
<nav style="background-color: #F4F6FB;">
    <div class="ui container">
        <div class="ui fluid secondary menu">
            <a class="toc item" href="index.html">
                <img class="ui small image" src="../static/img/logo.png">
            </a>
            <a class="item">Home</a>
            <a class="item">Sobre</a>
            <a class="item" href="func.html">Funcionalidades</a>
            <a class="item">FAQ</a>
            <div class="right item">
                <a class="ui purple button">Log in</a>
            </div>
        </div>
    </div>
</nav>


    <div class="container">
        <div class="ui grid">
            <div class=" column">
                <div class="ui three cards">
                    <div class="card">
                        <div class="ui left piled segment">
                            <img src="../static/img/icons/prancheta.svg" class="ui tiny left floated image">
                            <h3 class="ui header text-center" style="margin-top: 0px;" >  </h3>
                            <div class="floated right text-center description">
                                Submissão de certificados e declarações de atividades extra-curriculares</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ui left piled segment">
                            <img src="../static/img/icons/aproved.svg" class="ui tiny left floated image">
                            <h3 class="ui header text-center" style="margin-top: 0px;" >  </h3>
                            <div class="floated right text-center description">
                                Aprovação e validação de atividade extra-curricular pelo avaliador</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ui left piled segment">
                            <img src="../static/img/icons/calendar.svg" class="ui tiny left floated image">
                            <h3 class="ui header text-center" style="margin-top: 0px;" >  </h3>
                            <div class="floated right text-center description">
                                Recomendações de eventos na área de formação do estudante</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="container">
    <div class="ui grid">
        <div class=" column">
            <div class="ui three cards">
                <div class="card">
                    <div class="ui left piled segment">
                        <img src="../static/img/icons/find.svg" class="ui tiny left floated image">
                        <h3 class="ui header text-center" style="margin-top: 0px;" >  </h3>
                        <div class="floated right text-center description">
                            Dashboard com os dados de progresso dos estudantes</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui left piled segment">
                        <img src="../static/img/icons/load.svg" class="ui tiny left floated image">
                        <h3 class="ui header text-center" style="margin-top: 0px;" >  </h3>
                        <div class="floated right text-center description">
                            Contabilização de horas restantes para atingir a carga horária estimada</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui left piled segment">
                        <img src="../static/img/icons/browser.svg" class="ui tiny left floated image">
                        <h3 class="ui header text-center" style="margin-top: 0px;" >  </h3>
                        <div class="floated right text-center description">
                            Exportação de currículo de atividades do estudante</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>

    setInterval(function () {
        $('.ui.grid .sixteen.wide.column .ui.three.stackable.cards .card').transition({
            animation: 'tada',
            duration: 1000,
            interval: 200
        });
    }, 1000 * 15);

    setInterval(function () {
        $('.ui.grid .sixteen.wide.column .ui.four.stackable.cards .card').transition({
            animation: 'jiggle',
            duration: 800,
            interval: 200
        });
    }, 1000 * 7);

    $(document).ready(function (){
        $('.ui.sticky').sticky();});


</script>
</html>