<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css">
<link rel="stylesheet" type="text/css" href="../static/semantic/dist/components/menu.css">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<script src="../static/js/semantic.min.js"></script>

<head>
  <meta charset="utf-8">
  <title>teste</title>
</head>

<body>

  <section style="background-color: #F4F6FB;">

    <nav>
      <div class="ui container">
        <div class="ui fluid secondary menu">
          <a class="toc item">
            <img class="ui small image" src="../static/img/logo.png" href="index.html">
          </a>
          <a class="item">Home</a>
          <a class="item">Sobre</a>
          <a class="item" href="func.html">Funcionalidades</a>
          <a class="item">FAQ</a>
          <div class="right item">
            <a class="ui purple button">Log in</a>
          </div>
        </div>
      </div>
    </nav>


    <div class="ui internally grid">
      <div class="row">
        <div class="two wide column">
          <img>
        </div>
        <div class="twelve wide column">
        </div>
        <div class="two wide column">
          <img>
        </div>
      </div>
      <div class="row">
        <div class="two wide column">
          <img>
        </div>
        <div class="twelve wide column">
          <div class="ui two column very relaxed grid">
            <div class="relaxed center aligned column intro">
              <h1 class="ui header">Inove a Gestão de Atividades Complementares da sua organização com a Summa
              </h1>
              <button class="ui purple button large">COMEÇAR</button>
            </div>
            <div class="column">
              <div class="ui center aligned container">
                <img class="ui fluid image" src="../static/img/pg1-1.png">
              </div>
            </div>
          </div>
        </div>
        <div class="two wide column">
          <img>
        </div>
      </div>
    </div>


  </section>

  <section>
    <div class="ui internally grid">
      <div class="row about">
        <div class="fourteen wide column">
          <div class="ui two column very relaxed grid">
            <div class="relaxed left aligned column">
              <h2>Sobre</h2>
              <p>O somatório de horas realizadas em atividades complementares em instituições de ensino ainda é um
                processo realizado de forma simples e manual que demanda bastante esforço do responsável por esses
                cálculos.
                </br></br>
                Para mudar esse cenário e agilizar o processo de contabilização e levantamento de atividades
                extra-curriculares realizadas pelos discentes a Summa foi desenvolvida!
                </br></br>
                Confira as funcionalidades da Summa e o que podemos fazer para inovar a gestão de atividades
                complementares da sua instituição.</p>
            </div>
            <div class="column">
              <div class="ui center aligned container">
                <img class="ui fluid image" src="../static/img/pg1-2.png" width="100%">
              </div>
            </div>
          </div>
        </div>
        <div class="two wide column">
          <img>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h1>Funcionalidades</h1>
    <div class="ui horizontal cards features">
      <div class="card">
        <div class="image">
          <img src="../static/img/icons/prancheta.svg" class="ui tiny left floated image">
        </div>
        <div class="content">
          <div class="funcionalidade">
            Submissão de certificados e declarações de atividades extra-curriculares
          </div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="../static/img/icons/aproved.svg" class="ui tiny left floated image">
        </div>
        <div class="content">
          <div class="funcionalidade">
            Aprovação e validação de atividade extra-curricular pelo avaliador
          </div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="../static/img/icons/calendar.svg" class="ui tiny left floated image">
        </div>
        <div class="content">
          <div class="funcionalidade">
            Recomendações de eventos na área de formação do estudante
          </div>
        </div>
      </div>
    </div>

    <div class="ui horizontal cards features">
      <div class="card">
        <div class="image">
          <img src="../static/img/icons/browser.svg" class="ui tiny left floated image">
        </div>
        <div class="content">
          <div class="funcionalidade">
            Exportação de currículo de atividades do estudante
          </div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="../static/img/icons/load.svg" class="ui tiny left floated image">
        </div>
        <div class="content">
          <div class="funcionalidade">
            Contabilização de horas restantes para atingir a carga horária estimada
          </div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="../static/img/icons/find.svg" class="ui tiny left floated image">
        </div>
        <div class="content">
          <div class="funcionalidade">
            Dashboard com os dados de progresso dos estudantes
          </div>
        </div>
      </div>
    </div>
  </section>



</body>
<script>
</script>

</html>