<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<title>Summa | Inovando a Gestão de Atividades Extra-Curriculares</title>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
</head>
<body>
	<div class="flex gap-y-44">
	  <div class="flex-1 h-16 bg-blue-200">
	    <!-- This item will grow or shrink as needed -->
	  </div>
	  <div class="flex-shrink-0 h-16 w-32 bg-indigo-500">
	    <!-- This item will not shrink below its initial size-->
	  </div>
	  <div class="flex-1 h-16 bg-blue-200">
	    <!-- This item will grow or shrink as needed -->
	  </div>
	</div>
</div>
</body>
</html>
