<div class="grid grid-cols-2" style="minWidth:70vw;">
<div class="flex flex-col w-auto">
	<div class="w-full px-5 text-center pb-8 border-b border-gray-300">
			<h1 class="text-2xl font-light text-gray-800 leading-tight">Download do certificado</h1>
	</div>
	<ul>
			<li class="w-full px-5 py-2 border-b border-gray-300">
					<div class="w-full flex">
							<div class="flex-grow">
									<h3 class="text-sm text-gray-800 leading-tight">certificado-cmov.pdf</h3>
									<p class="text-xs text-gray-500">13 MB - pdf</p>
							</div>
							<div class="w-12 text-right">
									<i class="mdi mdi-download-circle-outline text-blue-500 text-2xl"></i>
							</div>
					</div>
			</li>
	</ul>
	<div class="w-full px-5 py-2 text-center">
			<button class="bg-blue-500 hover:bg-blue-600 text-white rounded-full px-10 py-2 transition-colors">Download</button>
	</div>
	<div class="border pt-5 focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
		<div class="-mt-6 absolute tracking-wide px-2 text-normal">
			<p>
				<label for="name" class="bg-white text-gray-600 px-1">Título do certificado</label>
			</p>
		</div>
		<p>
			<input id="name" autocomplete="false" tabindex="0" type="text" class="py-1 px-1 text-gray-900 outline-none block h-full w-full">
		</p>
	</div>
	<div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
		<div class="-mt-6 absolute tracking-wide px-2 text-normal">
			<p>
				<label for="name" class="bg-white text-gray-600 px-1">Quantidade de horas</label>
			</p>
		</div>
		<p>
			<input id="name" autocomplete="false" tabindex="0" type="text" class="py-1 px-1 text-gray-900 outline-none block h-full w-full">
		</p>
	</div>
</div>
<div class="flex flex-col w-auto">
	<div class="bg-white pb-6 w-full justify-center items-center overflow-hidden md:max-w-sm rounded-lg shadow-sm mx-auto">
		<div class="relative h-40">
			<img class="absolute h-full w-full object-cover" src="https://images.unsplash.com/photo-1448932133140-b4045783ed9e?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80">
		</div>
		<div class="relative shadow mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
			<img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=80">
		</div>
		<div class="mt-16">
			<h1 class="text-lg text-center font-semibold">
				Cassie
			</h1>
			<p class="text-sm text-gray-600 text-center">
				Engenharia de Software
			</p>
		</div>
	</div>
</div>
</div>
<div class="flex justify-center">
	<button class="mr-5 bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-6 rounded-lg">
	  Negar
	</button>
		<button class="mr-5 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-6 rounded-lg">
		  Aceitar
		</button>
</div>

<div class="flex flex-wrap justify-center sm:flex-none m-6">
	<h1 class="text-gray-700  text-2xl">Submissões pendentes</h1>
	<table class="border-collapse sm:w-full">
		<thead>
			<tr>
				<th class="p-3 font-bold uppercase text-gray-600 hidden lg:table-cell">
					Macroatividades
				</th>

				<th class="p-3 font-bold uppercase text-gray-600 hidden lg:table-cell">
					Status
				</th>
				<th class="p-3 font-bold uppercase text-gray-600 hidden lg:table-cell"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
				<td class="w-full lg:w-auto pt-4 p-3 text-gray-800 text-left border-b block lg:table-cell relative lg:static">
					Atividades Culturais e Esportivas na Universidade
				</td>

				<td class=" lg:w-auto pt-8 p-3 text-gray-800 text-center border-b text-center block lg:table-cell relative lg:static">
					Em validação
				</td>
				<td  class=" lg:w-auto pt-8 p-3 text-gray-800 text-center border-b text-center block lg:table-cell relative lg:static"><i class="far fa-eye"></i>Vizualizar</td>
			</tr>
		</tbody>
	</table>
</div>
